<main>
  <h2>{{this.infoText}}</h2>
  <div class="info-bar">
    <p class="player-red">{{this.gameState?.red || "..."}}</p>
    <p class="player-yellow">{{this.gameState?.yellow || "..."}}</p>
    <p class="player-blue">{{this.gameState?.blue || "..."}}</p>
    <p class="player-green">{{this.gameState?.green || "..."}}</p>
  </div>
  <div id="playing-board">
    <!-- Here inside components as playing fields -->
    <app-field *ngFor="let position of positions; index as i" [data]="position" [fieldIndex]="i"
      (onValidHover)="handleFieldValidHover($event)" [gameAction]="gameState?.action" [playerColor]="playerColor"
      [whoseAction]="gameState?.turn">
    </app-field>
    <div id="dice" (click)="handleDice()"></div>
  </div>
</main>

<router-outlet />