<main>
  <h2>{{this.infoText}}</h2>
  <div class="info-bar">
    <div class="row">
      <p class="player p-red">{{this.gameState?.red?.userName || "..."}}</p>
      <p class="player p-yellow">{{this.gameState?.yellow?.userName || "..."}}</p>
      <p class="player p-blue">{{this.gameState?.blue?.userName || "..."}}</p>
      <p class="player p-green">{{this.gameState?.green?.userName || "..."}}</p>
    </div>
    <div class="row" *ngIf="this.gameState?.action == 'wait'">
      <p class="ready-state">{{this.gameState?.red?.isReady ? "Ready" : "Not Ready"}}</p>
      <p class="ready-state">{{this.gameState?.yellow?.isReady ? "Ready" : "Not Ready"}}</p>
      <p class="ready-state">{{this.gameState?.blue?.isReady ? "Ready" : "Not Ready"}}</p>
      <p class="ready-state">{{this.gameState?.green?.isReady ? "Ready" : "Not Ready"}}</p>
    </div>
  </div>
  <div id="playing-board">
    <!-- Here inside components as playing fields -->
    <app-field *ngFor="let position of positions; index as i" [data]="position" [fieldIndex]="i"
      (onValidHover)="handleFieldValidHover($event)" (onValidClick)="handleFieldValidClick($event)"
      [gameAction]="gameState?.action" [playerColor]="playerColor" [whoseAction]="gameState?.turn"
      [diceValue]="gameState?.diceValue">
    </app-field>
    <div id="dice" (click)="handleDice()" [style.cursor]="canUseDice ? 'pointer' : 'initial'" [ngStyle]="diceStyle">
    </div>
  </div>
</main>
<aside *ngIf="this.gameState?.action == 'wait'">
  <button type="button" (click)="btnReadyClick($event)">{{this.playerReadyState ? 'Ready' : "Not Ready"}}</button>
  <p>ID pokoju: {{this.gameId}}</p>
</aside>
<button type="button" class="mute-btn" (click)="isGameMuted = !isGameMuted"
  [ngStyle]="{'background-image': isGameMuted ? 'url(../assets/volume-mute.png)' : 'url(../assets/volume.png)'}"></button>
<router-outlet />